/*  -------- Diana Pinchuk | start -----------*/
.blog-section {
  margin: 60px 0 60px;
  padding: 0 24px;
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

 .blog-section__cards {
  min-width: 272px;
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-self: center;
  justify-content: center;
  margin-top: 45px;
}

.blog-section__card {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.blog-section__card-category {
  color: var(--card-category-text-color);
  font-size: 14px;
  font-family: 'Open Sans',sans-serif;
  font-weight: var(--font-semibold);
  line-height: 22.4px;
  margin-top: 20px;
}

.blog-section__card-title {
  color: var(--title-text-color);
  font-size: 26px;
  font-family: var(--title-font);
  font-weight: var(--font-light);
  line-height: 28.6px;
  text-align: left;
  margin-top: 20px;
}

.blog-section__card-text {
  color: var(--card-text-color);
  font-size: 17px;
  font-family: var(--body-font);
  font-weight: var(--font-light);
  line-height: 25.5px;
  margin-top: 20px;
  font-stretch: 100%;
}

.blog-section__card-btn {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  width: 151.400px;
  height: 53.200px;
  border: 1px solid #fff;
}

.blog-section__card-button {
  color: rgb(255, 255, 255);
  font-size: 12px;
  font-family: var(--body-font);
  font-weight: var(  --font-bold);
  line-height: 1.1em;
  letter-spacing: .05em;
  align-self: center;
}

.blog-section__cards-btn{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.blog-section__cards-btn-prev,
.blog-section__cards-btn-next {
  width: 50px;
  height: 50px;
  font-weight: 400;
  font-size: 40px;
  color: var(--buttom-arrow-color);
  background: url('../img/body-background.png');
}


@media (min-width: 768px) {
  .blog-section {
    margin: 60px auto 110px;
    padding: 0 32px;
  }
  
   .blog-section__cards {
    margin-top: 15px;
    column-gap: 30px;
    justify-content: left;
    flex-flow: row wrap;
  }
  
  .blog-section__card {
    width: 47.8%;
    min-width: 337px;
    padding-top: 30px;
    margin-bottom: 0;
    flex-shrink: 1;
  }
  
  .blog-section__card-category {
    font-size: 14px;
    font-weight: var(--font-semibold);
    line-height: 22.4px;
  }
  
  .blog-section__card-title {
    font-size: 32px;
    line-height: 35.2px;
  }

  .blog-section__cards-btn{
    margin-top: 60px;
  }
}

@media (min-width: 991px) {
  .blog-section__card-category {
    font-size: 15px;
    font-weight: var(--font-semibold);
    line-height: 24px;
  }
  
  .blog-section__card-title {
    font-size: 38px;
    line-height: 41.8px;
  }

  .blog-section__cards-btn{
    margin-top: 80px;
  }
}

@media (min-width: 992px) {
  .blog-section {
    margin: 60px 0 130px;
    max-width: 1200px;
    padding: 0 40px;
    min-width: 912px;
  }
  
   .blog-section__cards {
    justify-content: center;
    margin: 50px 0 0;
    flex-wrap: nowrap;
    flex-shrink: 1;
  }
  
  .blog-section__card {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    padding: 0;
    min-width: 283.987px;
  }
}

@media (min-width: 1201px) {
  .blog-section {
    margin: 60px auto 130px;
    align-self: center;
  }
}

@media (min-width: 1280px) {
  .blog-section {
    margin: 60px auto 130px;
    width: 1200px;
    padding: 0 15px;
  }
}
/*  -------- Diana Pinchuk | end -----------*/

