.bottled__section, .blog-section  {
    color: #fff;
}

.bottle__section {
    padding: 120px 0 65px;
}

.bottle__section {
    display: flex;
    flex-direction: column;
}

.bottle__section__title {
    font-family: "Shadows Into Light", undefined;
    font-size: 28px;
    font-weight: 400;
    color: rgb(255,193,35);
}

.bottle__sektion__text{
    font-family: "Teko";
    font-size: 62px;
    font-weight: 400;
}

.bottle__sektion__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: rgb(204, 204, 204);
}
