.friday {
    color: var(--title-dark-text-color);
    display: flex;
    justify-content: center;
    padding-bottom: 150px;
}

.friday__deal {
    background: url(../img/friday.png) 51.98% 52.76% / cover no-repeat;
    width: 1170px;
    height: 530px;
}

.friday-subtitle {
    font-family: 'Shadows Into Light';
    text-align: center;
    font-size: 28px;
    padding-top: 40px;

}

.friday-title {
    font-family: var(--title-font);
    font-stretch: condensed;
    font-size: 128px;
    text-align: center;
}

.friday-deal-sale {
    font-family: var(--body-font);
    color:  #444343;
    font-size: 19px;
    text-align: center;
    margin-bottom: 50px;
}

.friday-button {
    font-family:  var(--body-font);
    font-size: 12px;
    background-color: var(--button-text-color);
    font-weight: bold;
    color:  var(--title-text-color);
    padding: 15px 32px;
    text-align: center;
    justify-content: center;
    margin-left: 43%;
    text-decoration: none;
}
@media (max-width: 450px) {
    .friday__deal{
        width: 360px;
        height: 380px;
    } 
    .friday-subtitle {
        font-size: 14px;
    }
    .friday-title {
        font-size: 62px;
    }
    .friday-deal-sale {
        font-size: 19px;
    }
    .friday-button {
        margin-left: 30%;
    }
}
#friday-offer {
    background: #b2b2b2 url(../img/friday-background.png);
    background-blend-mode: luminosity;
    background-attachment: fixed;
}

.friday__offer {
    background-size: 100%; 
    height: 700px;
    display: flex;
    justify-content: center;
}

img.relax {
    width: 550px;
    height: 570px;
    margin-top: 50px;
    margin-right: 50px;
}

.friday-menu {
    background-color: rgba(17,17,17,0.76);
    width: 545px;
    height: 600px;
    margin-top: 50px;

}

.friday-offer-subtitle {
    color: var(--footer-color);
    font-family: var(--subtitle-font);
    font-size: 28px;
    text-align: center;
    margin-top: 40px;
}

.friday-offer-title {
    color: var(--title-text-color);
    font-family: Teko, sans-serif;
    font-size: 62px;
    text-transform: uppercase; 
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.friday__offer-menu {
    display: flex;
}

.friday-menu-item {
    color: var( --title-text-color);
    margin-bottom: 20px;
}

.friday-icon {
    float: left;
    width: 70px;
    height: 70px;
    border-radius: 100px;
    display: flex;
    margin: 10px 13px 10px 10px;
}

.menu-list-title {
    font-family: Teko, sans-serif;
    font-size: 38px;
}

.menu-description {
    font-family: 'Open Sans';
    font-size: 17px;
    color: rgb(209,209,209);
}

.menu-price {
    color: var(--footer-color);
}

.timer__items {
    display: flex;
    font-size: 25px;
    justify-content: center;
    padding-top: 20px;
  }
  .timer__item {
    position: relative;
    min-width: 60px;
    margin-left: 10px;
    margin-right: 10px;
    padding-bottom: 15px;
    text-align: center;
  }
  .timer__item::before {
    content: attr(data-title);
    display: block;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    font-size:14px;
  }
  .timer__item:not(:last-child)::after {
    content: ':';
    position: absolute;
    right: -15px;
  }