@media (min-width: 768px) {
  .home__block {
    max-width: 40%;
    margin-right: 20px;
    margin-top: 257px;
    margin-bottom: 179px;
    justify-content: right;
  }
  .header__home iframe {
    top: 5%;
    left: -100%;
    width: 300%;
  }
  .home__subtitle {
    font-size: 21px;
  }
  .home__title {
    font-size: 95px;
  }
}
@media (min-width: 991px) {
  .nav__button {
    display: none;
  }
  .nav__list-wrapper {
    display: flex;
    position: relative;
    justify-content: right;
    align-items: center;
    background: none;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .nav__list {
    flex-direction: row;
    margin: auto 50px;
  }
  .nav__socials-list {
    margin: 0 15px;
  }
  .nav__link:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
  }
  .row {
    display: flex;
    flex-direction: row;
  }
  .home__subtitle {
    font-size: 28px;
  }
  .home__title {
    font-size: 128px;
  }
  .header__home iframe {
    background-size: 50%;
  }
}
