*{
    margin: 0;
    padding: 0;
    border: 0;
}

.story{
    font-size: inherit;
    color: #ffc123;
    box-sizing: border-box;
    text-align: left;
}

h2{
    color: #fff;
    font-size: inherit;

    box-sizing: border-box;
    text-align: left;
}

.Welcome{
    color: rgb(204,204,204);
    font-size: inherit;
    box-sizing: border-box;
    text-align: left;
}

.History{
    color: rgb(157,157,157);
    font-size: inherit;
    box-sizing: border-box;
}

a{
    text-transform: uppercase;
}

.block{
    background-color: black;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 30px;
}

div{
    display: block;
}

.IMG{
    width: 50%;
}
