*{
    margin: 0;
    padding: 0;
    border: 0;
}

.story{
    display: block;
    color: #ffc123;
    box-sizing: border-box;
    text-align: left;
    font-size: 28px;
    line-height: 1.4;
    font-family: Shadows Into Light,undefined;
    font-weight: 400;
}

h2{
    color: #fff;
    font-size: inherit;
    font-size: 62px;
    font-family: Teko,sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    box-sizing: border-box;
    text-align: left;
}

.Welcome{
    color: rgb(204,204,204);
    font-size: inherit;
    box-sizing: border-box;
    text-align: left;
    font-size: 19px;
    line-height: 1.47;
    font-family: Open Sans,sans-serif;
    font-weight: 500;
}

.History{
    color: rgb(157,157,157);
    font-size: inherit;
    box-sizing: border-box;
    font-size: 17px;
    line-height: 1.5;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    text-align: left;
}

a{
    text-transform: uppercase;
}

.block{
    background-color: black;
    padding-top: 90px;
    padding-bottom: 90px;
    padding-left: 30px;
    padding-right: 30px;

}

div{
    display: block;
}

.picture{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;  
    
}
