/*  ----------------- fonts ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Shadows+Into+Light&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Teko&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: url('../img/body-background.png');
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

/* ----------------- header ----------------- */
.header {
    position: relative;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.nav__logo-img {
    width: 182px;
}

.header__nav {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #111111;
    width: 100%;
    padding: 0 24px;
}

.nav__menu {
    width: 100%;
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    color: #fff;
}

.nav__list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-size: 500;
}

.nav__item {
    position: relative;
    margin: 10px 20px;
    color: #cccccc;
}

.nav__link {
    color: inherit;
}

.nav__link::before {
    content: "";
    width: 100%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: left;
}

.nav__link:hover {
    color: #fff;
}
.nav__button {
    position: relative;
    z-index: 5;
    flex: 0 0 22px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__socials {
    margin: auto 0;
}

.nav__socials-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 20px 0 0 0;
    color: #ffc123;
}

.nav__socials-list li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    width: 32px;
    height: 32px;
    margin-right: 7.5px;
    margin-left: 7.5px;
    border: 1px solid #ffc123;
}

.nav__socials-item {
    font-size: 17px;
    color: #ffc123;
    transition: color 0.2s ease-out;
}

.nav__socials-item a {
    color: inherit;
}

.nav__socials-item:hover {
    background-color: #ffc123;
    color: #111111;
}

/* ------------- burger ---------------------- */
.icon-menu {
    display: none;
    font-size: 30px;
    margin: 12px 8px;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
}

.icon-menu:hover {
    color: #cccccc;
}

.close-icon-menu {
    display: none;
    font-size: 35px;
    margin: 12px 0;
    color: #fff;
    flex-direction: column;
    justify-content: space-between;
}

.close-icon-menu:hover {
    color: #cccccc;
}

.nav__list-wrapper {
    display: none;
    position: absolute;
    top: 110px;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #111111;
}

.show-menu {
    display: block;
}

/*  ----------------- main ----------------- */
.main {
    flex: 1 1 auto;
}

/*  ----------------- footer  ----------------- */
.footer {
    background-color: #111111;
    height: 200px;
}


/* ------------- Home ----------------- */
.header__home {
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;
    text-align: center;
}

.header__home iframe {
    position: absolute;
    top: 10%;
    left: -150%;
    width: 400%;
    height: 100%;
    background: url('../img/video-background.jpg');
    background-size: 100%;
    background-position: center;
}
.video-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(1, 1, 1, .5);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.home__block {
    position: relative;
    margin: 247px auto 110px auto;
    padding: 0 24px;
    z-index: 5;
    color: #fff;
    font-size: 30px;
}
.home__subtitle {
    padding-top: 50px;
    font-family: 'Shadows Into Light';
    font-size: 14px;
}
.home__title {
    font-family: 'Teko', sans-serif;
    font-size: 62px;
    line-height: 1;
    font-weight: 400;
    text-transform: uppercase;
    display: inline-block;
    padding: 20px 0 0 0;
}
.home__text {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 400;
    line-height: 1.47;
    color: rgb(204, 204, 204);
    margin: 35px auto;
}
.home__button {
    display: block;
    margin: 10px auto;
    padding: 23px 10px;
    width: 232px;
    background-color: #ffc123;
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: #111111;
    transition: background-color .2s ease-in;
}
.home__button:hover {
    background-color: #e6ad1e;
}


/*  -----------------  Menu ----------------- */
/*  -------- Diana Pinchuk | start -----------*/
.menu-section, .blog-section  {
    color: #fff;
}

.menu-section {
    padding: 120px 0 65px;
}

.section-header {
    display: flex;
    flex-direction: column;
}

.section-header__title {
    font-family: "Shadows Into Light", undefined;
    font-size: 28px;
    font-weight: 400;
    color: rgb(255,193,35);
}

.section-header__text{
    font-family: "Teko";
    font-size: 62px;
    font-weight: 400;
}

.section-header__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: rgb(204, 204, 204);
}

/*  -------- Diana Pinchuk | end -----------*/
/*  -----------------  friday-deal ----------------- */




/*  -----------------  botteled ----------------- */




/*  -----------------  top-choise ----------------- */




/*  -----------------  story ----------------- */




/*  -----------------  testimonials ----------------- */





/*  -----------------  blog ----------------- */




/*  -----------------  brands ----------------- */