/*  ----------------- fonts ----------------- */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&family=Shadows+Into+Light&family=Teko&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Teko&display=swap');


*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    display: block;
    max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    background: url('../img/body-background.png');
}

.wrapper {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}


/*  -----------------  Menu ----------------- */
/*  -------- Diana Pinchuk | start -----------*/
.menu-section, .blog-section  {
    color: #fff;
}

.menu-section {
    padding: 120px 0 65px;
}

.section-header {
    display: flex;
    flex-direction: column;
}

.section-header__title {
    font-family: "Shadows Into Light", undefined;
    font-size: 28px;
    font-weight: 400;
    color: rgb(255,193,35);
}

.section-header__text{
    font-family: "Teko";
    font-size: 62px;
    font-weight: 400;
}

.section-header__description {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: rgb(204, 204, 204);
}

/*  -------- Diana Pinchuk | end -----------*/
/*  -----------------  friday-deal ----------------- */




/*  -----------------  botteled ----------------- */




/*  -----------------  top-choise ----------------- */




/*  -----------------  story ----------------- */




/*  -----------------  testimonials ----------------- */





/*  -----------------  blog ----------------- */




/*  -----------------  brands ----------------- */