/*                 Top choice (Natasha)             */

.topchoice-section {
    padding-top: 150px;
    color: var(--bacis-text-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 80%;
}

.topchoice__title {
    color: var(--button-color);
    font-family: "Shadows Into Light", sans-serif;
    font-size: 28px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.topchoice__offers {
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-size: 62px;
    font-weight: 400;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.topchoice_slogan {
    font-family: 'Open Sans', sans-serif;
    font-size: 19px;
    font-weight: 500;
    color: var(--second-text-color);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.menu__photos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 60px;
}

.menu-photos__container {
    margin-bottom: 50px;
}

.menu__photo {
    width: 95%;
    height: 95%;
    /* display: flex;
    justify-content: center;
    flex-direction: row; */
    margin: auto;
}

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.menu__title{
    font-size: 38px;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: space-between;
}

.menu-line {
    color: var(--second-text-color);
    opacity: 25%;
}

.menu__price{
    font-size: 38px;
    text-transform: uppercase;
    font-family: "Teko", sans-serif;
    font-weight: 400;
    color: var(--button-color);
}

.menu__description{
    font-size: 17px;
    line-height: 1.5;
    font-family: Open Sans,sans-serif;
    font-weight: 400;
    color: var(--second-text-color);
}

.topchoice-button {
    display: block;
    margin: 70px auto 5px auto;
    padding: 23px 10px;
    width: 232px;
    background-color: var(--button-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--header-color);
    transition: background-color .2s ease-in;
    margin-bottom: 100px;
}

.topchoice-button:hover {
    background-color: var(--button-hover-color);
}

.topchoice-button__text {
    width: 100%;
    display: flex;
    justify-content: center;
}

/* Carousel */

.menu__carousel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}


@media (min-width: 992px) {
    .menu__photos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    .menu-photos__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;
    }
    .photo {
        margin: 0px 20px;
    }
    .menu__list-container {
        margin: 0px 10px 40px 10px;
    }
}

@media (max-width: 990px) {
    .menu__title,
    .menu__price {
        font-size: 32px;
    }
    
    .menu__description{
        font-size: 11px;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__list-container {
        margin: 0px 10px 40px 10px;
    }
    .menu__photo {
        width: 98%;
        height: 98%;
    }
    .menu__list-container {
        margin: 0px 10px 30px 10px;
    }
    .menu-photos__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__list-container {
        margin: 0px 10px 20px 10px;
    }
}

/* @media (max-width: 832px) {
    .menu__title,
    .menu__price {
        font-size: 28px;
    }
    
    .menu__description{
        font-size: 7px;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__list-container {
        margin: 0px 10px 40px 10px;
    }
} */

@media (max-width: 745px) {
    .menu__title,
    .menu__price {
        font-size: 26px;
    }
    
    .menu__description{
        font-size: 5px;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__photo {
        width: 98%;
        height: 98%;
    }
    .menu__list-container {
        margin: 0px 10px 30px 10px;
    }
    .menu-photos__container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .menu__list {
        flex-direction: column;
    }
    .menu__list-container {
        margin: 0px 10px 20px 10px;
    }
}





